.customListLink{
    font-weight: bold !important;
    /* margin-top: 5px !important;
    margin-bottom: 5px !important; */
}

.customListTitle{
    font-family: var(--sapFontHeaderFamily) !important;
    font-size: var(--sapFontHeader4Size) !important;
    color: var(--sapBrandColor) !important;
}